 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EFEFEF;
    padding: 10px ;
}
.banner-image {
        background-image: url('../img/travel_01.jpg');
        background-size: cover;
 }
 .banner-image2 {
    background-image: url('../img/travel2.jpg');
    background-size: cover;
}
header{
    position: absolute;
    z-index: 10;
    width: 100%;
}
.titulos{
  background-color: #262626;
  width: 100vw;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 30px;
    color: #DEEEFE;
    
}
.card-title{
    display: flex;
    justify-content: center;
    position:relative;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Roboto Flex', sans-serif;
}
.card-description{
    display: flex;
    justify-content: center;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 70px;
    flex-wrap: wrap;
}
.card{
  width: 1000px;
  box-shadow: #262626 2px 2px 2px 2px;
}

.card-title{
    padding: 10px;
    font-size: 2.5rem;
    font-family: 'Roboto Flex', sans-serif;
    text-transform: uppercase;
} 
.card-text{
    margin: 25px;
    font-size: 20px;
    padding: 5px;
    padding-bottom: 2rem;
}

.btn{
    background: #112B3C;
    text-decoration: none;
    color: #EFEFEF;
    padding: 2px;
    display: flex;
    justify-content: center;
}
.btn:hover{
    background: #F66B0E;
    transition:  .2s ease-in ;
    color: white;
}
.card:hover{
    background: #112B3C;
    color: white;
}
.form-control{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .form{
  width: 100vw;
    background-color:seashell;
    box-shadow: #262626 2px 2px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
    padding: 200px;
    font-size: 20px;
} 
.form-label{
    padding: 10px;
}
.form-text{
    padding: 10px;
}
.text-white{
  text-shadow: #262626 5px 5px 5px;
}

/* CSS DEL CALCULADOR */
   #nav{
     text-align: center;
   }
   
   .container-calc {
    background-color: #112B3C;
     width: 100vw;
   }
   #vacationCalc {
    display: flex;
    justify-content: center;
    align-items: center;
     justify-content: space-around;
     text-align: center;
     width: 90%;
     padding: 20px;
     color: #fff;
     border-radius: 20px;
   }
   form input::placeholder {
     width: 15em;
     margin: 3px;
     height: 2em;
     color: #6c757d;
   }
   .btn_calc{
     background: #F66B0E;
     color: #fff;
     text-decoration: none;
     border: none;
     width: 100px;
   }
   .icons {
     width: 100%;
     display: flex;
     justify-content: space-around;
     margin-top: 1em;
   
   }
   .fas {
     font-size: 2.5em;  
     border-radius: 50%;
     padding: 40px;
   
   }
   .fa-plane {
     color: #2a96f3;
   }
   .fa-wallet {
     color: #a96d65;
   }
   .fa-money-bill-wave-alt{
     color: #42a3b8;
   }
   
   .container-data {
     display: flex;
     justify-content: space-around;
     margin-top: -1em;
   }
   
   .container-data h6 {
     text-align: center;
   }

   /* footer */
   
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
body {
    background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
    font-family: 'Rubik', sans-serif;
    background: #dae4e9;
    height: 100 !important;
}


.container-fluid{
    overflow:hidden; 
    margin-top: 250px ;
    background:#262626 ;
    color: #627482  !important;
    margin-bottom: 0 ;
    padding-bottom:0  ;
}

small{
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.bold-text{
    color: #989c9e !important;
}


.mt-55{
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important; 
}


h3{
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important; 
}
 
.social{
    font-size: 21px !important; 
}

.rights{
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
}

